  
.navbar-brand {
    font-size: 60px;
}

.search-header {
    font-size: 24px;
    font-weight: bold;
}

.city-name {
    font-size: 30px;
}

.forecast-date {
    font-size: 18px;
}

.container {
    background-image: url('assets/yue-su--WX6S7utock-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
